.form-field-error {
    border-color: #af3232;
    box-shadow: 0 0 0 2px rgba(175, 50, 50, 0.4)
}
.visually-hidden {
    position: absolute!important;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0
}
.hidden {
    display: none
}
.image-replaced {
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden
}
.multi-column-clear {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    -o-column-width: auto;
    column-width: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    -o-column-count: auto;
    column-count: auto;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    -o-column-gap: normal;
    column-gap: normal
}
.multi-column-avoid-break {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    column-break-inside: avoid
}
@font-face{font-family:'FA-Icons-Home';src:url('/media/fonts/icons-home.eot?#iefix') format('embedded-opentype'),
url('/media/fonts/icons-home.woff') format('woff'),
url('/media/fonts/icons-home.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal;
    color: #fff;
    text-shadow: none
}
#outer-wrapper {
    width: 100%;
    background: #fff
}
#wrapper {
    width: 100%;
    padding-bottom: 0
}
.mission {
    width: 100%;
    padding: 0;
    background: #c13832
}
.mission h1 {
    display: block;
    float: left;
    width: 100%;
    margin: 60px auto 20px auto;
    padding: 0;
    text-align: center
}
.mission h1 img {
    width: 313px;
    height: 82px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out
}
#masthead {
    width: 100%;
    background: #c13832;
    padding: 0
}
#masthead nav li a:link,
#masthead nav li a:visited {
    color: #fff
}
#masthead .container,
.mission .container,
.module .container {
    width: 940px;
    margin: 0 auto;
    padding: 0
}
.module .more-large {
    display: inline-block;
    min-width: 200px;
    margin: 20px auto;
    padding: 15px 40px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    background: #f6f4ec;
    border: 2px solid #e3e1d9;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.module .more-large:link,
.module .more-large:visited {
    color: #0095dd
}
.module .more-large:hover,
.module .more-large:active,
.module .more-large:focus {
    border: 2px solid #0095dd;
    cursor: pointer;
    text-decoration: none
}
#firefox-download-section {
    position: relative;
    margin: 0;
    padding: 20px;
    border: 0;
    background: #565a5c
}
#firefox-download-section header {
    position: relative;
    float: left;
    padding: 0 20px 0 0;
    width: auto;
    vertical-align: middle
}
#firefox-download-section header a {
    display: block;
    width: 100%
}
#firefox-download-section header a:hover,
#firefox-download-section header a:active,
#firefox-download-section header a:focus {
    text-decoration: none
}
#firefox-download-section header h3,
#firefox-download-section header h4 {
    float: left;
    vertical-align: middle
}
#firefox-download-section header h3 {
    width: 300px;
    margin: 0
}
#firefox-download-section header h3 img {
    vertical-align: top
}
#firefox-download-section header h4 {
    display: block;
    width: 320px;
    margin: 20px 0 20px 20px;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: -1px;
    color: #fff;
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal
}
#firefox-download-section header h4 strong {
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal
}
#firefox-download-section .download-button-simple {
    float: right;
    margin: 30px 20px 20px 0
}
#firefox-download-section .download-button-simple .unsupported-download,
#firefox-download-section .download-button-simple .download-other,
#firefox-download-section .download-button-simple .download-other a {
    color: #fff
}
#firefox-download-section .download-button-simple .download-subtitle {
    text-shadow: none
}
#firefox-download-section .download-button-simple .unsupported-download a:link,
#firefox-download-section .download-button-simple .unsupported-download a:visited {
    color: #43c2ff
}
#firefox-download-section .download-button-simple .unsupported-download a:hover,
#firefox-download-section .download-button-simple .unsupported-download a:active,
#firefox-download-section .download-button-simple .unsupported-download a:focus {
    color: #76d3ff
}
#firefox-download-section .download-button-simple .os_android .download-subtitle {
    font-size: 16px;
    margin-right: 0
}
#firefox-download-section .download-button-simple .download-link {
    background: #689f2a;
    filter: none;
    box-shadow: none
}
#firefox-download-section .download-button-simple .download-link:hover,
#firefox-download-section .download-button-simple .download-link:focus {
    background: #70ab2d
}
#community {
    background: #c0413c;
    color: #fff;
    text-align: center
}
#community ul {
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    padding: 60px 0 40px 0;
    zoom: 1
}
#community ul:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}
#community ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3%
}
#community ul li .stat {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-size: 42px;
    line-height: 1.3;
    padding: 0 20px 0 62px;
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal
}
#community ul li .stat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 42px;
    color: #dfa09d;
    font-family: 'FA-Icons-Home'
}
#community ul li .stat.organizations:before {
    content: '\f004'
}
#community ul li .stat.contributors:before {
    height: 49px;
    content: '\f0c0'
}
#community ul li .stat.countries:before {
    content: '\f0ac';
    left: 10px
}
#community ul li span {
    display: block;
    font-style: italic;
    font-size: 20px;
    padding: 0 20px;
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif
}
#community .contribute-btn {
    display: inline-block;
    margin: 0 auto 40px auto;
    padding: 20px 60px;
    line-height: 1.3;
    text-align: center;
    font-size: 22px;
    background: #0095dd;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
#community .contribute-btn:link,
#community .contribute-btn:visited {
    color: #fff
}
#community .contribute-btn:hover,
#community .contribute-btn:active,
#community .contribute-btn:focus {
    background: #fff;
    color: #0095dd;
    text-decoration: none;
    cursor: pointer
}
#upcoming-events {
    background: #f6f4ec
}
#upcoming-events .container {
    position: relative;
    padding: 60px 0 40px 0;
    text-align: center
}
#upcoming-events .container h2 {
    font-size: 54px;
    color: #484848;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: -1px
}
#upcoming-events .container h4 {
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif
}
#upcoming-events .inner-container {
    zoom: 1;
    margin-bottom: 20px
}
#upcoming-events .inner-container:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}
#upcoming-events .event-map {
    display: block;
    position: relative;
    float: left;
    width: 248px;
    margin: 0 20px 0 30px
}
#upcoming-events .event-map time {
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 70px;
    height: 60px;
    padding: 10px 5px;
    background: #c13832;
    color: #fff;
    text-align: center;
    line-height: 1.1;
    border-radius: 100%;
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal
}
#upcoming-events .event-map time .date-month {
    display: block;
    font-size: 24px
}
#upcoming-events .event-map time .date-day {
    display: block;
    font-size: 32px
}
#upcoming-events .event-map img {
    border: 5px solid #c13832;
    border-radius: 100%
}
#upcoming-events .event-info:before {
    display: inline-block;
    font-family: 'FA-Icons-Home';
    width: 1.5em;
    text-align: center;
    color: #b1b1ad
}
#upcoming-events .event-info.location {
    display: block;
    position: relative;
    margin-top: 5px
}
#upcoming-events .event-info.location:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\f041\00a0'
}
#upcoming-events .event-info.location p {
    float: left;
    margin-left: 20px
}
#upcoming-events time.event-info:before {
    content: '\f073\00a0'
}
#upcoming-events .featured-event {
    display: block;
    width: 100%;
    margin-right: 0;
    text-align: left;
    zoom: 1
}
#upcoming-events .featured-event:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}
#upcoming-events .featured-event .event-detail {
    float: left;
    width: 615px
}
#upcoming-events .featured-event .event-detail h3.next {
    color: #c13832;
    font-size: 16px;
    font-style: italic
}
#upcoming-events .featured-event .event-detail h3.next:after {
    content: ':'
}
#upcoming-events .featured-event .event-detail h4 {
    font-size: 28px;
    color: #565a5c;
    line-height: 1.2
}
#upcoming-events .featured-event .event-detail time,
#upcoming-events .featured-event .event-detail p {
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal;
    color: #b1b1ad;
    font-size: 20px
}
#upcoming-events .featured-event .event-detail .event-info.location:before {
    font-size: 20px
}
#upcoming-events .featured-event .event-detail .event-info.location p {
    margin-left: 29px
}
#upcoming-events .featured-event a:hover,
#upcoming-events .featured-event a:active,
#upcoming-events .featured-event a:focus {
    text-decoration: none
}
#upcoming-events .featured-event a:hover h4,
#upcoming-events .featured-event a:active h4,
#upcoming-events .featured-event a:focus h4 {
    text-decoration: underline
}
#upcoming-events .events-list {
    list-style-type: none;
    width: 60%;
    margin: 40px auto 0 auto;
    padding: 0;
    text-align: left
}
#upcoming-events .events-list li {
    margin: 0;
    padding: 0;
    zoom: 1
}
#upcoming-events .events-list li:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}
#upcoming-events .events-list li time {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    padding: 10px 5px;
    border: 2px solid #c13832;
    color: #565a5c;
    text-align: center;
    line-height: 1.1;
    border-radius: 100%;
    font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: normal
}
#upcoming-events .events-list li time .date-month {
    display: block;
    font-size: 14px
}
#upcoming-events .events-list li time .date-day {
    display: block;
    font-size: 24px
}
#upcoming-events .events-list li a {
    display: block;
    position: relative;
    margin-bottom: 20px;
    min-height: 70px
}
#upcoming-events .events-list li a:hover,
#upcoming-events .events-list li a:active,
#upcoming-events .events-list li a:focus {
    text-decoration: none
}
#upcoming-events .events-list li a:hover h3,
#upcoming-events .events-list li a:active h3,
#upcoming-events .events-list li a:focus h3 {
    text-decoration: underline
}
#upcoming-events .events-list .event-detail {
    padding: 0 20px 0 80px;
    margin: 0
}
#upcoming-events .events-list .event-detail h3 {
    display: block;
    margin: 0;
    padding: 0;
    color: #565a5c;
    font-size: 22px;
    line-height: 1.1
}
#upcoming-events .events-list .event-detail p {
    color: #b1b1ad
}
.html-rtl #upcoming-events .featured-event {
    text-align: right;
    margin-left: 40px;
    margin-right: 0
}
.html-rtl #upcoming-events .featured-event .event-map {
    float: right;
    margin: 0 30px 0 20px
}
.html-rtl #upcoming-events .featured-event .event-map time {
    left: 30px
}
.html-rtl #upcoming-events .featured-event .event-detail {
    float: right
}
.html-rtl #upcoming-events .featured-event .event-info.location p {
    margin-left: 0;
    margin-right: 29px
}
.html-rtl #upcoming-events .events-list {
    text-align: right
}
.html-rtl #upcoming-events .events-list .event-detail {
    padding: 0 80px 0 20px
}
.html-rtl #upcoming-events .events-list li time {
    float: right
}
.html-rtl #upcoming-events .event-info.location:before {
    left: auto;
    right: 0
}
.html-rtl #upcoming-events .event-info.location p {
    float: right;
    margin-left: 0;
    margin-right: 20px
}
#secondary-links {
    background: #fff
}
#secondary-links ul {
    position: relative;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 40px 0;
    zoom: 1
}
#secondary-links ul:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}
#secondary-links ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3%
}
#secondary-links h2 {
    position: relative;
    font-size: 24px;
    color: #484848;
    padding-top: 100px
}
#secondary-links h2:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 84px;
    background: url(/media/img/home/voices/secondary-icon-sprite.png?29-09-2014) no-repeat center top
}
#secondary-links a {
    display: block;
    padding: 0 50px;
    text-align: center
}
#secondary-links a.add-ons h2:before {
    background-position: center 0
}
#secondary-links a.careers h2:before {
    background-position: center -86px
}
#secondary-links a.help h2:before {
    background-position: center -172px
}
#secondary-links a:hover,
#secondary-links a:active,
#secondary-links a:focus {
    text-decoration: none
}
#secondary-links a:hover h2,
#secondary-links a:active h2,
#secondary-links a:focus h2 {
    text-decoration: underline
}
#secondary-links p {
    color: #484848;
    font-size: 16px;
    margin-top: 20px
}
#newsletter-signup {
    background: #f6f4ec
}
#mozorg-newsletter-form,
#newsletter-form {
    width: 650px;
    margin: 0 auto;
    padding: 0 0 40px 0;
    background: transparent;
    border-bottom: 0;
    box-shadow: none
}
#mozorg-newsletter-form h3,
#newsletter-form h3 {
    display: block;
    float: none;
    width: auto;
    padding: 40px 0;
    color: #484848;
    font-size: 46px;
    text-align: center;
    margin: 0;
    letter-spacing: -1px
}
#mozorg-newsletter-form .form-contents,
#newsletter-form .form-contents {
    width: 50%;
    margin: 0
}
#mozorg-newsletter-form .form-contents input[type="email"],
#newsletter-form .form-contents input[type="email"] {
    height: 32px;
    padding: 5px 10px;
    background: #fbf9f4;
    border: 2px solid #e1ddd3;
    border-radius: 7px;
    -webkit-appearance: none
}
#mozorg-newsletter-form .form-contents::-webkit-input-placeholder,
#newsletter-form .form-contents::-webkit-input-placeholder {
    color: #e1ddd3;
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: bold;
    opacity: 1
}
#mozorg-newsletter-form .form-contents::-moz-placeholder,
#newsletter-form .form-contents::-moz-placeholder {
    color: #e1ddd3;
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: bold;
    opacity: 1
}
#mozorg-newsletter-form .form-contents:-ms-input-placeholder,
#newsletter-form .form-contents:-ms-input-placeholder {
    color: #e1ddd3;
    font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
    font-weight: bold;
    opacity: 1
}
#mozorg-newsletter-form .form-submit,
#newsletter-form .form-submit {
    width: 50%;
    margin: 0
}
#mozorg-newsletter-form .form-submit input[type="submit"],
#newsletter-form .form-submit input[type="submit"] {
    width: 100%;
    min-height: 45px;
    background: #0095dd;
    font-size: 18px;
    font-weight: normal;
    text-shadow: none;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 7px;
    -webkit-appearance: none
}
#mozorg-newsletter-form .form-submit input[type="submit"]:hover,
#newsletter-form .form-submit input[type="submit"]:hover,
#mozorg-newsletter-form .form-submit input[type="submit"]:focus,
#newsletter-form .form-submit input[type="submit"]:focus {
    background: #00a6f7
}
#mozorg-newsletter-form .privacy-check-label .title,
#newsletter-form .privacy-check-label .title {
    padding: 0 20px 0 25px
}
.newsletter-form.thank {
    width: 650px;
    margin: 0 auto;
    padding: 20px 0;
    background: transparent;
    border-bottom: 0;
    box-shadow: none
}
#colophon {
    margin: 0;
    background: #565a5c;
    color: #bbb
}
#colophon a:link,
#colophon a:visited {
    color: #43c2ff
}
#colophon a:hover,
#colophon a:active,
#colophon a:focus {
    color: #76d3ff
}
#colophon .logo a {
    display: block;
    width: 88px;
    height: 24px;
    background-image: url(/media/img/sandstone/footer-mozilla-white.png);
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden
}
#scroll-prompt {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 18px;
    background: #56555b;
    border: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none
}
#scroll-prompt:before {
    font-family: 'FA-Icons-Home';
    content: '\f055\00a0'
}
@media only screen and (min-width: 1300px) {
    .module .container,
    .mission .container {
        width: 1260px
    }
    .mission h1 {
        margin: 60px auto
    }
    #firefox-download-section header h3 {
        width: 380px
    }
    #firefox-download-section header h4 {
        width: 450px;
        margin: 20px 0 20px 100px;
        font-size: 34px
    }
    #upcoming-events .featured-event {
        float: left;
        width: 760px;
        margin-right: 40px
    }
    #upcoming-events .featured-event .event-detail {
        width: 420px
    }
    #upcoming-events .events-list {
        float: left;
        width: 460px;
        margin: 0
    }
    .html-rtl #upcoming-events .featured-event {
        float: right
    }
    .html-rtl #upcoming-events .events-list {
        float: right
    }
    #mozorg-newsletter-form h3,
    #newsletter-form h3 {
        width: 100%;
        padding: 60px 0 40px 0
    }
}
@media only screen and (min-width: 1140px) and (max-width: 1299px) {
    .module .container,
    .mission .container {
        width: 1100px
    }
    #firefox-download-section .container h4 {
        width: 370px;
        margin-left: 40px
    }
    #upcoming-events .featured-event {
        float: left;
        width: 670px
    }
    #upcoming-events .featured-event .event-detail {
        width: 350px
    }
    #upcoming-events .events-list {
        float: left;
        width: 390px;
        margin: 0
    }
    .html-rtl #upcoming-events .featured-event {
        float: right
    }
    .html-rtl #upcoming-events .events-list {
        float: right
    }
}
@media only screen and (min-width: 820px) and (max-width: 979px) {
    #masthead {
        padding: 0
    }
    #masthead .container {
        width: auto;
        margin: 0 20px
    }
    .module .container,
    .mission .container,
    #colophon .row {
        width: 780px
    }
    #firefox-download-section .container h3 {
        width: 300px
    }
    #firefox-download-section .container h4 {
        display: none
    }
    #upcoming-events .featured-event {
        width: 100%;
        margin-right: 0
    }
    #upcoming-events .featured-event .event-detail {
        width: 455px
    }
    #upcoming-events .events-list {
        width: 70%;
        margin-top: 40px
    }
    #mozorg-newsletter-form h3,
    #newsletter-form h3 {
        float: none;
        width: auto;
        padding: 40px 0
    }
    #mozorg-newsletter-form .form-contents,
    #newsletter-form .form-contents,
    #mozorg-newsletter-form .form-submit,
    #newsletter-form .form-submit {
        width: 50%;
        margin: 0
    }
}
@media only screen and (max-width: 819px) {
    #secondary-links ul,
    #community ul {
        width: 100%;
        padding: 60px 0 40px 0
    }
    #secondary-links ul li,
    #community ul li {
        float: none;
        width: 100%;
        margin: 0 auto 40px auto
    }
    #secondary-links .contribute,
    #community .contribute {
        width: auto
    }
    #secondary-links a {
        padding: 0
    }
    #mozorg-newsletter-form,
    #newsletter-form {
        width: 100%
    }
    #mozorg-newsletter-form .form-contents,
    #newsletter-form .form-contents {
        width: 100%
    }
    #mozorg-newsletter-form .form-contents input[type="email"],
    #newsletter-form .form-contents input[type="email"] {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 44px;
        width: 100%
    }
    #mozorg-newsletter-form .form-submit,
    #newsletter-form .form-submit {
        width: 100%
    }
    #mozorg-newsletter-form .form-submit input[type="submit"],
    #newsletter-form .form-submit input[type="submit"] {
        width: 100%
    }
    .newsletter-form.thank {
        width: 100%
    }
}
@media only screen and (min-width: 660px) and (max-width: 819px) {
    #masthead {
        padding: 0
    }
    #masthead .container {
        width: auto;
        margin: 0 20px
    }
    .module .container,
    .mission .container,
    #colophon .row {
        width: 620px
    }
    #firefox-download-section .container h3 {
        width: 300px
    }
    #firefox-download-section .container h4 {
        display: none
    }
    #upcoming-events .container h2 {
        margin-bottom: 40px
    }
    #upcoming-events .featured-event {
        width: 100%;
        margin-right: 0
    }
    #upcoming-events .featured-event .event-detail {
        width: 300px
    }
    #upcoming-events .events-list {
        width: 100%;
        margin-top: 40px
    }
}
@media only screen and (min-width: 500px) and (max-width: 659px) {
    #masthead {
        padding: 0
    }
    #masthead .container {
        width: 460px;
        margin: 0 auto
    }
    .module .container,
    .mission .container,
    #colophon .row {
        width: 460px
    }
    .mission h1 img {
        width: 260px;
        height: auto
    }
    #firefox-download-section .container {
        text-align: center
    }
    #firefox-download-section .container header {
        float: none;
        padding: 0
    }
    #firefox-download-section .container h3 {
        float: none;
        display: inline-block;
        width: 300px
    }
    #firefox-download-section .container h4 {
        display: none
    }
    #firefox-download-section .container .download-button {
        float: none;
        margin: 20px auto
    }
    #upcoming-events .container h2 {
        margin-bottom: 40px
    }
    #upcoming-events .featured-event {
        width: 100%;
        margin-right: 0
    }
    #upcoming-events .featured-event .event-map {
        display: none
    }
    #upcoming-events .featured-event .event-detail {
        width: 100%;
        float: none;
        margin-top: 20px
    }
    #upcoming-events .events-list {
        width: 100%;
        margin-top: 40px
    }
}
@media only screen and (max-width: 499px) {
    #masthead {
        padding: 0
    }
    #masthead .container {
        width: 320px;
        margin: 0 auto
    }
    .module .container,
    .mission .container,
    #colophon .row {
        width: 300px
    }
    .mission h1 img {
        width: 260px;
        height: 68px
    }
    #firefox-download-section .container {
        text-align: center
    }
    #firefox-download-section .container header {
        float: none;
        padding: 0
    }
    #firefox-download-section .container h3 {
        float: none;
        display: inline-block;
        width: 300px
    }
    #firefox-download-section .container h4 {
        display: none
    }
    #firefox-download-section .container .download-button {
        float: none;
        margin: 20px auto
    }
    #community .contribute-btn {
        padding: 20px
    }
    #upcoming-events .container h2 {
        margin-bottom: 40px
    }
    #upcoming-events .featured-event {
        width: 100%;
        margin-right: 0
    }
    #upcoming-events .featured-event .event-map {
        display: none
    }
    #upcoming-events .featured-event .event-detail {
        width: 100%;
        float: none;
        margin-top: 20px
    }
    #upcoming-events .events-list {
        width: 100%;
        margin-top: 40px
    }
    #upcoming-events .all-events {
        width: auto
    }
}
.form-field-error {
    border-color: #af3232;
    box-shadow: 0 0 0 2px rgba(175, 50, 50, 0.4)
}
.visually-hidden {
    position: absolute!important;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0
}
.hidden {
    display: none
}
.image-replaced {
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden
}
.multi-column-clear {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    -o-column-width: auto;
    column-width: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    -o-column-count: auto;
    column-count: auto;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    -o-column-gap: normal;
    column-gap: normal
}
.multi-column-avoid-break {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    column-break-inside: avoid
}
@font-face{font-family:'FA-Icons-Home';src:url('/media/fonts/icons-home.eot?#iefix') format('embedded-opentype'),
url('/media/fonts/icons-home.woff') format('woff'),
url('/media/fonts/icons-home.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
.promo-grid-wrapper {
    position:relative;
    width:100%;
    background:#fff;
    z-index:0;
    overflow:hidden
}
.promo-grid-inner {
    position:relative;
    width:940px;
    margin:0 auto;
    padding:20px 0 0;
    z-index:1
}
.faces-grid-inner {
    position:absolute;
    top:20px;
    left:50%;
    height:100%;
    margin-left:-630px;
    width:1260px;
    overflow:hidden;
    z-index:-1;
    background:#fff
}
.promo-grid {
    position:relative;
    list-style-type:none;
    margin:0;
    padding:0;
    height:1280px;
    zoom:1
}
.promo-grid:after {
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
    content:"."
}
.promo-grid .item {
    position:absolute;
    margin:0 20px 20px 0;
    padding:0;
    color:#fff;
    overflow:hidden;
    opacity:1;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out
}
.promo-grid #promo-1 {
    top:0;
    left:0
}
.promo-grid #promo-2 {
    top:0;
    left:320px
}
.promo-grid #promo-3 {
    top:160px;
    left:320px
}
.promo-grid #promo-4 {
    top:160px;
    left:640px
}
.promo-grid #promo-5 {
    top:0;
    left:640px
}
.promo-grid #promo-6 {
    top:320px;
    left:320px
}
.promo-grid #promo-7 {
    top:480px;
    left:0
}
.promo-grid #promo-8 {
    top:640px;
    left:0
}
.promo-grid #promo-9 {
    top:640px;
    left:320px
}
.promo-grid #promo-10 {
    top:640px;
    left:640px
}
.promo-grid #promo-11 {
    top:800px;
    left:0
}
.promo-grid #promo-12 {
    top:1120px;
    left:0
}
.promo-grid #promo-13 {
    top:1120px;
    left:160px
}
.promo-grid #promo-14 {
    top:1120px;
    left:320px
}
.promo-grid #promo-15 {
    top:1120px;
    left:480px
}
.promo-grid #promo-16 {
    top:1120px;
    left:640px
}
.js .promo-grid .item {
    opacity:0
}
.js .promo-grid.reveal .item {
    opacity:1
}
.promo-large-landscape,
.promo-large-portrait {
    z-index:0
}
.promo-large-landscape a.panel-link,
.promo-large-portrait a.panel-link {
    display:block;
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:5px solid transparent;
    overflow:hidden;
    -webkit-transition:border .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    transition:border .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    z-index:2
}
.promo-large-landscape a.panel-link:hover,
.promo-large-portrait a.panel-link:hover,
.promo-large-landscape a.panel-link:active,
.promo-large-portrait a.panel-link:active,
.promo-large-landscape a.panel-link:focus,
.promo-large-portrait a.panel-link:focus {
    text-decoration:none;
    cursor:pointer
}
.promo-large-landscape .primary,
.promo-large-portrait .primary {
    visibility:visible;
    opacity:1;
    -webkit-transition:opacity .3s .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    transition:opacity .3s .3s ease-in-out,
    visibility 0s .3s ease-in-out
}
.promo-large-landscape .secondary,
.promo-large-portrait .secondary {
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    text-align:center;
    -webkit-transition:opacity .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    transition:opacity .3s ease-in-out,
    visibility 0s .3s ease-in-out
}
.promo-large-landscape.show a.panel-link,
.promo-large-portrait.show a.panel-link {
    visibility:visible;
    border:5px solid rgba(0,
    0,
    0,
    0.1);
    -webkit-transition:border .3s ease-in-out,
    visibility 0s 0s ease-in-out;
    transition:border .3s ease-in-out,
    visibility 0s 0s ease-in-out
}
.promo-large-landscape.show .primary,
.promo-large-portrait.show .primary {
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    transition:opacity .3s ease-in-out,
    visibility 0s .3s ease-in-out
}
.promo-large-landscape.show .secondary,
.promo-large-portrait.show .secondary {
    opacity:1;
    visibility:visible;
    -webkit-transition:opacity .3s .3s ease-in-out,
    visibility 0s .3s ease-in-out;
    transition:opacity .3s .3s ease-in-out,
    visibility 0s .3s ease-in-out
}
.promo-large-landscape h2,
.promo-large-portrait h2 {
    position:relative;
    padding:80px 20px 0 20px;
    font-family:'Open Sans',
    X-LocaleSpecific,
    sans-serif;
    font-size:40px;
    text-align:center;
    line-height:1.1;
    letter-spacing:-1px
}
.promo-large-landscape h2.go:after,
.promo-large-portrait h2.go:after {
    position:absolute;
    bottom:-60px;
    left:50%;
    width:38px;
    height:38px;
    margin-left:-20px;
    font-family:'FA-Icons-Home';
    font-size:34px;
    text-indent:2px;
    content:'\f101';
    border:2px solid #fff;
    border-radius:100%;
    line-height:38px;
    color:#fff;
    opacity:.6
}
.promo-large-landscape h3,
.promo-large-portrait h3 {
    padding:40px 20px 0 20px;
    margin-bottom:30px;
    font-family:'Open Sans',
    X-LocaleSpecific,
    sans-serif;
    font-size:32px;
    text-align:center;
    line-height:1.3;
    letter-spacing:-1px
}
.promo-large-landscape p.more,
.promo-large-portrait p.more {
    display:inline-block;
    min-width:80px;
    margin:0 20px;
    padding:10px 20px;
    color:#fff;
    font-size:14px;
    text-transform:uppercase;
    border:2px solid rgba(255,
    255,
    255,
    0.5);
    border-radius:7px;
    -webkit-transition:border-color .2s ease-in-out;
    transition:border-color .2s ease-in-out
}
.promo-large-landscape p.more:hover,
.promo-large-portrait p.more:hover {
    border-color:#fff
}
.no-js .promo-large-landscape a.panel-link,
.no-js .promo-large-portrait a.panel-link {
    visibility:visible
}
.no-js .promo-large-landscape a.panel-link:hover,
.no-js .promo-large-portrait a.panel-link:hover,
.no-js .promo-large-landscape a.panel-link:focus,
.no-js .promo-large-portrait a.panel-link:focus {
    border:5px solid rgba(0,
    0,
    0,
    0.1)
}
.no-js .promo-large-landscape .primary,
.no-js .promo-large-portrait .primary {
    opacity:0;
    visibility:hidden
}
.no-js .promo-large-landscape .secondary,
.no-js .promo-large-portrait .secondary {
    opacity:1;
    visibility:visible
}
.promo-large-portrait {
    position:relative;
    width:300px;
    height:460px
}
.promo-large-portrait h3 {
    padding:60px 20px 0 20px
}
.promo-large-landscape {
    position:relative;
    width:620px;
    height:300px
}
.promo-small-landscape {
    position:relative;
    width:300px;
    height:140px;
    overflow:hidden
}
.promo-small-landscape h2 {
    margin:0;
    font-size:22px;
    line-height:1.3;
    letter-spacing:0;
    color:#fff;
    text-shadow:none;
    font-family:'Open Sans',
    X-LocaleSpecific,
    sans-serif
}
.promo-small-landscape a.panel-link {
    display:block;
    width:290px;
    height:130px;
    color:#fff;
    border:5px solid transparent;
    overflow:hidden;
    -webkit-transition:border .3s ease-in-out;
    transition:border .3s ease-in-out
}
.promo-small-landscape a.panel-link:hover,
.promo-small-landscape a.panel-link:active,
.promo-small-landscape a.panel-link:focus {
    text-decoration:none;
    border:5px solid rgba(0,
    0,
    0,
    0.1)
}
.promo-small-landscape a.panel-link:hover h2,
.promo-small-landscape a.panel-link:active h2,
.promo-small-landscape a.panel-link:focus h2 {
    text-decoration:underline
}
.promo-face {
    position:relative;
    width:140px;
    height:140px;
    z-index:0
}
.promo-face a {
    display:block;
    width:130px;
    height:130px;
    border:5px solid transparent;
    -webkit-transition:border .3s ease-in-out;
    transition:border .3s ease-in-out;
    text-indent:120%;
    white-space:nowrap;
    overflow:hidden;
    cursor:pointer;
    z-index:2
}
.promo-face a:hover,
.promo-face a:focus {
    border:5px solid rgba(0,
    0,
    0,
    0.2)
}
.promo-face .face-outer {
    position:absolute;
    top:0;
    left:0;
    width:140px;
    height:140px;
    overflow:hidden;
    z-index:-1
}
.promo-face .face {
    width:100%;
    height:100%;
    background-image:url(/media/img/home/voices/faces-color-sprite.jpg?08-09-2014);
    background-position:top left;
    background-repeat:no-repeat;
    -webkit-transition:-webkit-transform .2s linear;
    transition:transform .2s linear
}
.promo-face .face.face-01 {
    background-position:0 0
}
.promo-face .face.face-02 {
    background-position:0 -142px
}
.promo-face .face.face-03 {
    background-position:0 -284px
}
.promo-face .face.face-04 {
    background-position:0 -426px
}
.promo-face .face.face-05 {
    background-position:0 -568px
}
.promo-face .face.face-06 {
    background-position:0 -710px
}
.promo-face .face.face-07 {
    background-position:0 -852px
}
.promo-face .face.face-08 {
    background-position:0 -994px
}
.promo-face .face.face-09 {
    background-position:0 -1136px
}
.promo-face .face.face-10 {
    background-position:0 -1278px
}
.promo-face .face.face-11 {
    background-position:0 -1420px
}
.promo-small-landscape.firefox-download {
    background:#6fbe4a
}
.promo-small-landscape.firefox-download h2 {
    position:absolute;
    left:10px;
    width:55%;
    text-align:center;
    -webkit-transition:left .3s ease-in-out;
    transition:left .3s ease-in-out
}
.promo-small-landscape.firefox-download h2.go:after {
    position:absolute;
    bottom:-48px;
    left:50%;
    width:38px;
    height:38px;
    margin-left:-20px;
    font-family:'FA-Icons-Home';
    font-size:30px;
    content:'\f103';
    border:2px solid #fff;
    border-radius:100%;
    opacity:.6
}
.promo-small-landscape.firefox-download.show h2 {
    left:-300px
}
.promo-small-landscape.firefox-download.show img {
    right:-200px
}
.promo-small-landscape.firefox-download.show .secondary {
    visibility:visible;
    opacity:1;
    -webkit-transition:visibility .3s 0s ease-in-out,
    opacity .3s .3s ease-in-out;
    transition:visibility .3s 0s ease-in-out,
    opacity .3s .3s ease-in-out
}
.promo-small-landscape.firefox-download img {
    position:absolute;
    top:-10px;
    right:-65px;
    -webkit-transition:right .3s ease-in-out;
    transition:right .3s ease-in-out
}
.promo-small-landscape.firefox-download .primary {
    position:relative;
    padding:20px
}
.promo-small-landscape.firefox-download .secondary {
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:260px;
    height:100px;
    padding:15px;
    text-align:center;
    border:5px solid rgba(0,
    0,
    0,
    0.1);
    opacity:0;
    -webkit-transition:visibility 0s .3s ease-in-out,
    opacity .3s 0s ease-in-out;
    transition:visibility 0s .3s ease-in-out,
    opacity .3s 0s ease-in-out
}
.promo-small-landscape.firefox-download .secondary .download-link {
    background:transparent;
    filter:none;
    border:2px solid #91d239;
    border-radius:10px;
    box-shadow:none
}
.promo-small-landscape.firefox-download .secondary .download-link .download-content {
    padding:20px
}
.promo-small-landscape.firefox-download .secondary .download-link .download-subtitle {
    font-size:16px;
    margin:0;
    text-align:center;
    text-shadow:none
}
.promo-small-landscape.firefox-download .secondary .download-link:hover,
.promo-small-landscape.firefox-download .secondary .download-link:focus {
    border-color:#fff
}
.promo-small-landscape.firefox-download .secondary .download-other {
    margin-top:11px;
    color:#4c781c;
    font-size:10px
}
.promo-small-landscape.firefox-download .secondary .download-other a:link,
.promo-small-landscape.firefox-download .secondary .download-other a:visited {
    color:#4c781c;
    -webkit-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out
}
.promo-small-landscape.firefox-download .secondary .download-other a:active,
.promo-small-landscape.firefox-download .secondary .download-other a:hover,
.promo-small-landscape.firefox-download .secondary .download-other a:focus {
    color:#fff
}
.promo-small-landscape.firefox-download .secondary .download-dumb h4 {
    text-align:center
}
.promo-small-landscape.firefox-download .secondary .download-dumb ul {
    margin-top:10px;
    text-align:center
}
.promo-small-landscape.firefox-download .secondary .download-dumb .button-green {
    font-weight:normal;
    background:0;
    box-shadow:none;
    padding:0;
    margin:0 .5em;
    min-width:0;
    text-align:left;
    color:#4c781c;
    text-shadow:none
}
.promo-small-landscape.firefox-download .secondary .download-dumb .button-green:link,
.promo-small-landscape.firefox-download .secondary .download-dumb .button-green:visited {
    color:#4c781c;
    -webkit-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out
}
.promo-small-landscape.firefox-download .secondary .download-dumb .button-green:hover,
.promo-small-landscape.firefox-download .secondary .download-dumb .button-green:focus {
    text-decoration:underline;
    color:#fff
}
.promo-small-landscape.firefox-download .secondary .fxos-link {
    display:none;
    min-width:180px;
    border:2px solid #91d239;
    border-radius:10px;
    padding:10px;
    margin-top:15px;
    -webkit-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out
}
.promo-small-landscape.firefox-download .secondary .fxos-link:link,
.promo-small-landscape.firefox-download .secondary .fxos-link:visited {
    color:#fff
}
.promo-small-landscape.firefox-download .secondary .fxos-link:hover,
.promo-small-landscape.firefox-download .secondary .fxos-link:focus {
    border:2px solid #fff;
    text-decoration:none
}
.fxos.js .promo-small-landscape.firefox-download .fxos-link {
    display:inline-block
}
.lang-en-US .promo-small-landscape.firefox-download .secondary .download-link .download-subtitle,
.lang-en-GB .promo-small-landscape.firefox-download .secondary .download-link .download-subtitle,
.lang-en-ZA .promo-small-landscape.firefox-download .secondary .download-link .download-subtitle {
    font-size:20px
}
.lang-en-US .promo-small-landscape.firefox-download .secondary .os_android .download-link .download-subtitle,
.lang-en-GB .promo-small-landscape.firefox-download .secondary .os_android .download-link .download-subtitle,
.lang-en-ZA .promo-small-landscape.firefox-download .secondary .os_android .download-link .download-subtitle {
    font-size:16px
}
.no-js .promo-small-landscape.firefox-download h2 {
    left:-300px
}
.no-js .promo-small-landscape.firefox-download img {
    right:-200px
}
.no-js .promo-small-landscape.firefox-download .secondary {
    opacity:1;
    visibility:visible;
    border:5px solid transparent;
    -webkit-transition:border .3s ease-in-out;
    transition:border .3s ease-in-out
}
.no-js .promo-small-landscape.firefox-download .secondary:hover,
.no-js .promo-small-landscape.firefox-download .secondary:focus {
    border:5px solid rgba(0,
    0,
    0,
    0.1)
}
.promo-small-landscape.privacy {
    background-color:#aeb1ce;
    background-image:url(/media/img/home/voices/promos/privacy/privacy.png);
    background-position:-30px bottom;
    background-repeat:no-repeat;
    -webkit-background-size:121px 120px;
    background-size:121px 120px
}
.promo-small-landscape.privacy h2 {
    padding:10px 10px 10px 100px
}
.lang-en-US .promo-small-landscape.privacy,
.lang-en-GB .promo-small-landscape.privacy,
.lang-en-ZA .promo-small-landscape.privacy {
    background-position:bottom left
}
.lang-en-US .promo-small-landscape.privacy h2,
.lang-en-GB .promo-small-landscape.privacy h2,
.lang-en-ZA .promo-small-landscape.privacy h2 {
    padding:21px 10px 10px 135px
}
.promo-small-landscape.appmaker {
    background-color:#5e6ba1;
    background-image:url(/media/img/home/voices/promos/appmaker/appmaker-logo.png);
    background-position:5px 15px;
    background-repeat:no-repeat;
    -webkit-background-size:78px 100px;
    background-size:78px 100px
}
.promo-small-landscape.appmaker h2 {
    padding:10px 10px 10px 95px
}
.lang-en-US .promo-small-landscape.appmaker,
.lang-en-GB .promo-small-landscape.appmaker,
.lang-en-ZA .promo-small-landscape.appmaker {
    background-position:15px 15px
}
.lang-en-US .promo-small-landscape.appmaker h2,
.lang-en-GB .promo-small-landscape.appmaker h2,
.lang-en-ZA .promo-small-landscape.appmaker h2 {
    padding:34px 20px 20px 120px
}
.promo-small-landscape.volunteer {
    background-color:#56565a;
    background-image:url(/media/img/home/voices/promos/volunteer/volunteer.png);
    background-position:15px 25px;
    background-repeat:no-repeat;
    -webkit-background-size:100px 86px;
    background-size:100px 86px
}
.promo-small-landscape.volunteer h2 {
    padding:10px 10px 10px 125px
}
.lang-en-US .promo-small-landscape.volunteer h2,
.lang-en-GB .promo-small-landscape.volunteer h2,
.lang-en-ZA .promo-small-landscape.volunteer h2 {
    padding:34px 20px 20px 135px
}
.promo-large-portrait.open-standard {
    background:#0c99d5
}
.promo-large-portrait.open-standard h2 {
    padding:100px 20px 0 20px;
    margin-top:40px;
    background-image:url(/media/img/home/voices/promos/open-standard/tos-logo.png);
    background-position:top center;
    background-repeat:no-repeat;
    -webkit-background-size:67px 85px;
    background-size:67px 85px
}
.promo-large-portrait.open-standard h3 {
    padding:100px 20px 0 20px
}
.promo-large-portrait.mission {
    background:#0c99d5
}
.promo-large-portrait.mission h3 {
    padding-top:60px
}
.promo-large-landscape.gear-store {
    background:#e55525
}
.promo-large-landscape.gear-store h2 {
    padding:100px 20px 0 20px;
    margin-top:40px;
    background-image:url(/media/img/home/voices/promos/gear-store/gear.png);
    background-position:top center;
    background-repeat:no-repeat;
    -webkit-background-size:75px 80px;
    background-size:75px 80px
}
.promo-large-landscape.webmaker {
    background:#e14164
}
.promo-large-landscape.webmaker h2 {
    padding:90px 20px 0 20px;
    margin-top:40px;
    background-image:url(/media/img/home/voices/promos/webmaker/webmaker.png?30-09-2014);
    background-position:top center;
    background-repeat:no-repeat;
    -webkit-background-size:83px 86px;
    background-size:83px 86px
}
.lang-en-US .promo-large-landscape.webmaker h3,
.lang-en-GB .promo-large-landscape.webmaker h3,
.lang-en-ZA .promo-large-landscape.webmaker h3 {
    padding:60px 20px 0 20px
}
.promo-large-landscape.support {
    background:#9b6d96
}
.promo-large-portrait.android {
    background:#00af84
}
.promo-large-portrait.android h2 {
    padding:100px 20px 0 20px;
    margin-top:40px;
    background-image:url(/media/img/home/voices/promos/android/dude.png?30-09-2014);
    background-position:top center;
    background-repeat:no-repeat;
    -webkit-background-size:71px 82px;
    background-size:71px 82px
}
.lang-en-US .promo-large-portrait.android h3,
.lang-en-GB .promo-large-portrait.android h3,
.lang-en-ZA .promo-large-portrait.android h3 {
    padding:80px 20px 0 20px
}
.promo-small-landscape.twt {
    width:300px;
    height:140px;
    background-color:#5b88c6
}
.promo-small-landscape.twt:hover .twt-container,
.promo-small-landscape.twt:focus .twt-container {
    border:5px solid rgba(0,
    0,
    0,
    0.1)
}
.promo-small-landscape.twt .twt-container {
    position:relative;
    width:260px;
    height:100px;
    padding:15px;
    border:5px solid transparent;
    -webkit-transition:border .3s ease-in-out;
    transition:border .3s ease-in-out
}
.promo-small-landscape.twt .twt-text {
    position:relative;
    float:right;
    width:200px;
    height:7.5em;
    margin:0;
    padding:0;
    font-family:'Open Sans',
    X-LocaleSpecific,
    sans-serif;
    color:#fff;
    font-size:14px;
    line-height:1.5;
    overflow:hidden;
    word-wrap:break-word
}
.promo-small-landscape.twt .twt-text a:link,
.promo-small-landscape.twt .twt-text a:visited {
    color:#fff
}
.promo-small-landscape.twt .twt-text a:hover,
.promo-small-landscape.twt .twt-text a:active,
.promo-small-landscape.twt .twt-text a:focus {
    text-decoration:underline
}
.promo-small-landscape.twt .twt-text .ellipsis {
    display:none;
    cursor:help
}
.promo-small-landscape.twt .twt-text .ellipsis:after {
    content:'â¦';
    color:#fff;
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    width:auto;
    height:1.5em;
    background-color:#5b88c6
}
.promo-small-landscape.twt .twt-actions {
    position:relative;
    float:left;
    width:40px;
    height:110px;
    margin-right:20px
}
.promo-small-landscape.twt .twt-account {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    color:#fff;
    font-size:0
}
.promo-small-landscape.twt .twt-account:before {
    font-family:'FA-Icons-Home';
    font-size:27px;
    content:'\f099';
    position:absolute;
    top:0;
    left:0;
    width:38px;
    height:38px;
    border:2px solid #fff;
    border-radius:100%;
    text-indent:7px
}
.promo-small-landscape.twt .twt-account:hover,
.promo-small-landscape.twt .twt-account:focus {
    text-decoration:none
}
.promo-small-landscape.twt .twt-reply {
    display:block;
    position:absolute;
    top:52px;
    left:0;
    width:40px;
    height:20px;
    font-size:0
}
.promo-small-landscape.twt .twt-reply:before {
    position:absolute;
    top:0;
    left:12px;
    width:40px;
    height:20px;
    font-family:'FA-Icons-Home';
    font-size:14px;
    content:'\f112';
    color:#fff;
    opacity:.5;
    -webkit-transition:opacity .2s ease-in-out;
    transition:opacity .2s ease-in-out
}
.promo-small-landscape.twt .twt-reply:hover,
.promo-small-landscape.twt .twt-reply:focus {
    text-decoration:none
}
.promo-small-landscape.twt .twt-reply:hover:before,
.promo-small-landscape.twt .twt-reply:focus:before {
    opacity:1
}
.promo-small-landscape.twt .twt-rt {
    display:block;
    position:absolute;
    top:82px;
    left:0;
    width:40px;
    height:20px;
    font-size:0
}
.promo-small-landscape.twt .twt-rt:before {
    position:absolute;
    top:0;
    left:12px;
    width:40px;
    height:20px;
    font-family:'FA-Icons-Home';
    font-size:14px;
    content:'\f079';
    color:#fff;
    opacity:.5;
    -webkit-transition:opacity .2s ease-in-out;
    transition:opacity .2s ease-in-out
}
.promo-small-landscape.twt .twt-rt:hover,
.promo-small-landscape.twt .twt-rt:focus {
    text-decoration:none
}
.promo-small-landscape.twt .twt-rt:hover:before,
.promo-small-landscape.twt .twt-rt:focus:before {
    opacity:1
}
@media only screen and (min-width: 2900px) {
    .faces-grid-inner {
        margin-left:-1430px;
        width:2860px
    }
}
@media only screen and (min-width: 2580px) and (max-width: 2899px) {
    .faces-grid-inner {
        margin-left:-1430px;
        width:2860px
    }
}
@media only screen and (min-width: 2260px) and (max-width: 2579px) {
    .faces-grid-inner {
        margin-left:-1270px;
        width:2540px
    }
}
@media only screen and (min-width: 1940px) and (max-width: 2259px) {
    .faces-grid-inner {
        margin-left:-1110px;
        width:2220px
    }
}
@media only screen and (min-width: 1620px) and (max-width: 1939px) {
    .faces-grid-inner {
        margin-left:-950px;
        width:1900px
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1619px) {
    .faces-grid-inner {
        margin-left:-790px;
        width:1580px
    }
}
@media only screen and (min-width: 1300px) {
    .promo-grid-inner {
        width:1260px
    }
    .promo-grid {
        height: 960px
    }
    .promo-grid #promo-1 {
        top: 0;
        left: 0
    }
    .promo-grid #promo-2 {
        top: 0;
        left: 320px
    }
    .promo-grid #promo-3 {
        top: 0;
        left: 640px
    }
    .promo-grid #promo-4 {
        top: 0;
        left: 800px
    }
    .promo-grid #promo-5 {
        top: 0;
        left: 960px
    }
    .promo-grid #promo-6 {
        top: 160px;
        left: 320px
    }
    .promo-grid #promo-7 {
        top: 160px;
        left: 960px
    }
    .promo-grid #promo-8 {
        top: 320px;
        left: 960px
    }
    .promo-grid #promo-9 {
        top: 480px;
        left: 0
    }
    .promo-grid #promo-10 {
        top: 480px;
        left: 320px
    }
    .promo-grid #promo-11 {
        top: 480px;
        left: 640px
    }
    .promo-grid #promo-12 {
        top: 640px;
        left: 0
    }
    .promo-grid #promo-13 {
        top: 640px;
        left: 160px
    }
    .promo-grid #promo-14 {
        top: 800px;
        left: 0
    }
    .promo-grid #promo-15 {
        top: 800px;
        left: 640px
    }
    .promo-grid #promo-16 {
        top: 800px;
        left: 800px
    }
}
@media only screen and (min-width: 1140px) and (max-width: 1299px) {
    .promo-grid-inner {
        width:940px
    }
    .faces-grid-inner {
        width: 1260px;
        margin-left: -630px
    }
}
@media only screen and (max-width: 979px) {
    .promo-large-landscape {
        width:300px;
        height:460px
    }
    .promo-large-landscape h3 {
        padding: 60px 20px 0 20px
    }
    .lang-en-US .promo-large-landscape.webmaker h2,
    .lang-en-GB .promo-large-landscape.webmaker h2,
    .lang-en-ZA .promo-large-landscape.webmaker h2 {
        padding: 90px 40px 0 40px
    }
    .lang-en-US .promo-large-landscape.webmaker h3,
    .lang-en-GB .promo-large-landscape.webmaker h3,
    .lang-en-ZA .promo-large-landscape.webmaker h3 {
        padding: 100px 20px 0 20px
    }
}
@media only screen and (min-width: 660px) and (max-width: 979px) {
    .promo-grid-inner {
        width:620px
    }
    .promo-grid {
        height: 1760px
    }
    .promo-grid #promo-1 {
        top: 0;
        left: 0
    }
    .promo-grid #promo-2 {
        top: 160px;
        left: 320px
    }
    .promo-grid #promo-3 {
        top: 320px;
        left: 320px
    }
    .promo-grid #promo-4 {
        top: 320px;
        left: 480px
    }
    .promo-grid #promo-5 {
        top: 0;
        left: 320px
    }
    .promo-grid #promo-6 {
        top: 480px;
        left: 0
    }
    .promo-grid #promo-7 {
        top: 480px;
        left: 320px
    }
    .promo-grid #promo-8 {
        top: 640px;
        left: 320px
    }
    .promo-grid #promo-9 {
        top: 800px;
        left: 320px
    }
    .promo-grid #promo-10 {
        top: 960px;
        left: 0
    }
    .promo-grid #promo-11 {
        top: 960px;
        left: 320px
    }
    .promo-grid #promo-12 {
        top: 1440px;
        left: 0
    }
    .promo-grid #promo-13 {
        top: 1440px;
        left: 160px
    }
    .promo-grid #promo-14 {
        top: 1440px;
        left: 320px
    }
    .promo-grid #promo-15 {
        top: 1440px;
        left: 480px
    }
    .promo-grid #promo-16 {
        top: 1600px;
        left: 0
    }
    .faces-grid-inner {
        width: 940px;
        margin-left: -470px
    }
}
@media only screen and (max-width: 659px) {
    .promo-grid-inner {
        width:300px
    }
    .promo-grid {
        height: 2560px
    }
    .promo-grid #promo-1 {
        top: 160px;
        left: 0
    }
    .promo-grid #promo-2 {
        top: 640px;
        left: 0
    }
    .promo-grid #promo-3 {
        display: none;
        top: 800px;
        left: 0
    }
    .promo-grid #promo-4 {
        display: none;
        top: 800px;
        left: 0
    }
    .promo-grid #promo-5 {
        top: 0;
        left: 0
    }
    .promo-grid #promo-6 {
        top: 800px;
        left: 0
    }
    .promo-grid #promo-7 {
        display: none;
        top: 1280px;
        left: 0
    }
    .promo-grid #promo-8 {
        top: 1280px;
        left: 0
    }
    .promo-grid #promo-9 {
        top: 1440px;
        left: 0
    }
    .promo-grid #promo-10 {
        top: 1600px;
        left: 0
    }
    .promo-grid #promo-11 {
        top: 2080px;
        left: 0
    }
    .promo-grid #promo-12 {
        display: none;
        top: 2560px;
        left: 0
    }
    .promo-grid #promo-13 {
        display: none;
        top: 2560px;
        left: 0
    }
    .promo-grid #promo-14 {
        display: none;
        top: 2560px;
        left: 0
    }
    .promo-grid #promo-15 {
        display: none;
        top: 2560px;
        left: 0
    }
    .promo-grid #promo-16 {
        top: 2560px;
        left: 0
    }
    .promo-grid.has-twitter-promo {
        height: 2720px
    }
    .faces-grid-inner {
        width: 620px;
        margin-left: -310px
    }
    .promo-face {
        display: none
    }
}
@media only screen and (min-width: 660px) {
    .promo-grid.stagger .item:first-child {
        -webkit-transition-delay:.1s;
        transition-delay:.1s
    }
    .promo-grid.stagger .item:nth-child(2) {
        -webkit-transition-delay: .25s;
        transition-delay: .25s
    }
    .promo-grid.stagger .item:nth-child(3) {
        -webkit-transition-delay: .4s;
        transition-delay: .4s
    }
    .promo-grid.stagger .item:nth-child(4) {
        -webkit-transition-delay: .55s;
        transition-delay: .55s
    }
    .promo-grid.stagger .item:nth-child(5) {
        -webkit-transition-delay: .7s;
        transition-delay: .7s
    }
    .promo-grid.stagger .item:nth-child(6) {
        -webkit-transition-delay: .85s;
        transition-delay: .85s
    }
    .promo-grid.stagger .item:nth-child(7) {
        -webkit-transition-delay: 1s;
        transition-delay: 1s
    }
    .promo-grid.stagger .item:nth-child(8) {
        -webkit-transition-delay: 1.15s;
        transition-delay: 1.15s
    }
    .promo-grid.stagger .item:nth-child(9) {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s
    }
    .promo-grid.stagger .item:nth-child(10) {
        -webkit-transition-delay: 1.45s;
        transition-delay: 1.45s
    }
    .promo-grid.stagger .item:nth-child(11) {
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s
    }
    .promo-grid.stagger .item:nth-child(12) {
        -webkit-transition-delay: 1.75s;
        transition-delay: 1.75s
    }
    .promo-grid.stagger .item:nth-child(13) {
        -webkit-transition-delay: 1.9s;
        transition-delay: 1.9s
    }
    .promo-grid.stagger .item:nth-child(14) {
        -webkit-transition-delay: 2.05s;
        transition-delay: 2.05s
    }
    .promo-grid.stagger .item:nth-child(15) {
        -webkit-transition-delay: 2.2s;
        transition-delay: 2.2s
    }
    .promo-grid.stagger .item:nth-child(16) {
        -webkit-transition-delay: 2.35s;
        transition-delay: 2.35s
    }
}
@media only screen and (min-width: 500px) {
    .faces-grid-inner {
        background:#fff url(/media/img/home/voices/mosaic-background.jpg?03-10-2014) -10px 0 repeat
    }
}
@media only screen and (max-width: 499px) {
    .faces-grid-inner {
        display:none
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi) {
    .promo-large-portrait.open-standard h2 {
        background-image:url(/media/img/home/voices/promos/open-standard/tos-logo-high-res.png);
        -webkit-background-size:67px 85px;
        background-size:67px 85px
    }
    .promo-large-portrait.android h2 {
        background-image: url(/media/img/home/voices/promos/android/dude-high-res.png);
        -webkit-background-size: 71px 82px;
        background-size: 71px 82px
    }
    .promo-large-landscape.webmaker h2 {
        background-image: url(/media/img/home/voices/promos/webmaker/webmaker-high-res.png);
        -webkit-background-size: 83px 86px;
        background-size: 83px 86px
    }
    .promo-large-landscape.gear-store h2 {
        background-image: url(/media/img/home/voices/promos/gear-store/gear-high-res.png);
        -webkit-background-size: 75px 80px;
        background-size: 75px 80px
    }
    .promo-small-landscape.appmaker {
        background-image: url(/media/img/home/voices/promos/appmaker/appmaker-logo-high-res.png);
        -webkit-background-size: 78px 100px;
        background-size: 78px 100px
    }
    .promo-small-landscape.privacy {
        background-image: url(/media/img/home/voices/promos/privacy/privacy-high-res.png);
        -webkit-background-size: 121px 120px;
        background-size: 121px 120px
    }
    .promo-small-landscape.volunteer {
        background-image: url(/media/img/home/voices/promos/volunteer/volunteer-high-res.png);
        -webkit-background-size: 100px 86px;
        background-size: 100px 86px
    }
}